.section5{
    width: 100%;
    height: auto;
    background-color:#1D1E22;
}

.section5 h3{
    font-family: Monument Extended;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 120px;
    text-transform: uppercase;
}

.insights{
    display: flex;
}

.insightsBox{
    height: 683px;
    width: 366px;
    margin-right: 40px;
    margin-top: 48px;


}

.insightsBox img {
    height: 255px;
    width: 366px;
    border-radius: 50px;
    
}

.insightsType{
    width: 100px;
    height: 28px;
    font-family: Red Rose;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #0A142F;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding-top: 5px;
    margin-right: 12px;
}

.insigtsTypeName{
    display: flex;
    margin-top: 32px;
}

.insigtsName{
    font-family: Red Rose;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-top: 2px;
}

.insigtsDescription{
    font-family: Red Rose;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    height: 170px;
    width: 366px;
    margin-top: 44px;
    color: #FFFFFF;

}

.insights button{
   height: 56px;
    width: 150px;
    border-radius: 30px;
    padding: 16px 24px 16px 24px;
    border: 1px solid #FFFFFF;
    background-color:#1D1E22;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 120px;
}

.readMore{
    

}